<div class= "page">
<h1>Welcome to DavisList</h1><br>
<h2>Please Select An Area</h2>
<ul>
<p><% @areas.each do |area| %>
    <li>
    <%= link_to area.name, area_path(area) %><br>
    </li>
<% end %>
</ul>
</div>