<h1> Region: <%= @area.name %></h1>
<h3> Zip Code: <%= @area.zip_code %></h3>
<p> Categories: <% @area.listing_categories.each do |listing_category| %></p>
    <%= link_to listing_category.name, listing_category %>
    <%end%>

    <br> <%= link_to "Home. Temp button", areas_path %>